
<style>
 
</style>



<nav class="navigation"> Psintagram  🦴</nav>

<main> 
  <section>
    <h1> Wybierz rasę: </h1>

    <select name="dogs" id="dogs" #dog (change)="onChange($event.target)">
      <option *ngFor="let item of arr | keyvalue" [value]="item.value"> {{item.value}} </option>
    </select>
    
    <div class="img-dog">
      <img src={{image}} alt="{{this.breed}}" class="image-dog"/>
    </div>
  </section>
  <aside>
    <h2 class="blok"> {{paragraph}} </h2>
    <a href="https://en.wikipedia.org/wiki/{{this.breed}}"> <button class="button"> Link! </button>  </a>
  
  </aside>
</main>

<footer>
  Projekt zreazliwany przez Łukasz Pietrzykowskiego. Link do githuba

</footer>

<router-outlet></router-outlet>
