
<style>
 
</style>



<nav class="navigation"> Psintagram  🦴</nav>

<main> 
  <section>
    <div class="change-breed">
      <h1> Wybierz rasę: </h1>

      <select name="dogs" id="dogs" class="decorated" #dog (change)="onChange($event.target)">
        <option *ngFor="let item of arr | keyvalue" [value]="item.value"> {{item.value}} </option>
      </select>
    </div>
    
    
    <div class="img-dog">
      <img src={{image}} alt="{{this.breed}}" class="image-dog"/>
    </div>
  </section>
  <aside>
    <h2 class="blok"> {{paragraph}} </h2>
    <button class="button"> <a href="https://en.wikipedia.org/wiki/{{this.breed}}"> Link! </a> </button> 
  
  </aside>
</main>

<footer>
  <p> Projekt zreazliwany przez Łukasz Pietrzykowskiego. <a href="https://github.com/LukaszPietrzykowski16/Psintagram"> Link do githuba </a> </p>

</footer>

<router-outlet></router-outlet>
